<div class="contenedor-iniciarPartida">
    <div class="contenedor__imagen">
        <img src="assets/img/iniciarPartida.png" class="images" alt="iniciarPartida">
    </div>
    <div class="contenedor__iniciarPartida--contenido">
        <form (ngSubmit)="iniciarPartida()" #iniciarPartidaForm="ngForm">
            <fieldset class="form">
                <label for="addPart" class="addParticipantes">Elige el número de participantes:</label>
                <input [(ngModel)]="participantes" name="participantes" class="form__input" type="number" min="1" max="12" placeholder="Número de participantes (1-12)" required>
                <br>
            </fieldset>
            <button type="submit" [disabled]="!iniciarPartidaForm.valid" class="button__action">Iniciar partida</button>
        </form>
    </div>
</div>