.contenedor-iniciarPartida{

    display:flex;
    align-items: center;
    padding:96px;
    
}

.contenedor__imagen{
    width: 100%;
    height: 100%;
    text-align: center;
  }

.contenedor__iniciarPartida--contenido{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
}
.form{
    font-size: 3rem;
    text-align: center;

    
}
.form__input {
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}
.images{
  width:100%;
  height: 100%;
}

.form-button2{
  background-color: var(--colorBaseBlanco);
  border:none;

  padding-bottom: 2rem;
  align-items: left;

}
.button__action{
    width: 50%;
    border-radius: 1rem;
    padding: 0.8rem;
    
    background-color: var(--colorContrasteLow);
    color: var(--colorBaseBlanco);
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;

}
.form--control{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    padding: 2rem;

  
}

.inner-addon {
    position: relative;
    border-radius: 1rem;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    
  }

  .left-addon .glyphicon {
    left: 0px;
    
  }
  .right-addon .glyphicon {
    right: 0px;
    
  }
  .left-addon input {
    padding-left: 30px;
  }
  .right-addon input {
    padding-right: 30px;
  }

@media(max-width:1900px){
  .contenedor-iniciarPartida{
   flex-direction: column;
   padding:20px 20px 16px 16px;
  }
  .contenedor__imagen{
    width:100%;
    margin-bottom: 2rem;
  }
  .contenedor__iniciarPartida--contenido{
    width:100%;
    margin-bottom: 2rem;
  }

}
@media(max-width:750px){
  .contenedor__imagen{
    align-items: start;
    display:flex;
    height: 20%;
    width:20%;
    justify-content: center;
  }

  .form{
    font-size: 2rem;
    text-align: center;
}

.form__input {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}


.button__action{
  width: 50%;
  border-radius: 1rem;
  padding: 0.8rem;
  
  background-color: var(--colorContrasteLow);
  color: var(--colorBaseBlanco);
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;

}
}