/* Globales */
html {
    box-sizing: border-box;
    /* Hack para que las cajas ocupan el espacio definido teniendo en cuenta los padding, margin, etc...*/
    font-size: 62.5%;
    /* Lo usamos para igualar 1rem a 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Header*/
body{
    margin : 0;
    padding: 0;
    font-family: 'Montserrat';

}

.contenedor{
    width: 100%;
    max-width : 1280px;
    margin: auto;
}

li{
    list-style : none;
}

a{
    text-decoration: none;
}

header{
    background: url(/IMG/FONDO1.jpg);
    background-size: cover;
    height: 100vh;
}

/*Navegación*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
}

header li{
    margin: 0 20px
}

header a{
    color: 	#fff;
}

.titular{
    text-align: center;
    margin-top: 40vh;
    color: 	#fff;
}

h1{
    font-size: 80px;
    font-style: italic;
}

h2{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.titular a{
    background :#000;
    color: #ff8800;
    padding: 20px 30px;
}

table{
    margin: 30px;
    width: 90%;
    text-align: center;
}

.blanco, th{
    background: #fff;
}

th{
    padding: 20px 0;
    font-style: italic;
}
.gris{
    background: rgb(143, 143, 143);
}

/*Main*/

section{
    background-color: rgb(214, 214, 214);
    width: 60%;
    height: 60vh;
    float: left;
}

aside{
    background:rgb(214, 214, 214);
    width: 40%;
    height:60vh;
    float: left; 
}

.horario{
    font-style: italic;

}

h3{
    text-align: center;
    font-size: 70px;
}

h4{
    margin: 5vh;
    text-align: center;
    font-size: 40px;
}
label{
    color:#ff8800;
    font-size: large;
}

h5{
    text-align:center;
}

footer{
    width:100%;
    background: rgb(143, 143, 143);
    color: #000;
}
.contenedor-footer-all{
    width: 100%;
    display: flex;
}

.contenedor-body-footer{
    display: flex;
}

.column1{
    width: 40%;
}

h7{
    
    font-size: 30px;
}

.column1 p{
    font-size: 14px;
    color:#000;
    margin-top: 20px;
}

.column2{
    width: 40%;
    margin-left: 120px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color:rgb(214, 214, 214);
}

.column3{
    width: 30%;
    margin-left:-160px;
}

.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    color:rgb(214, 214, 214);
}
.container-footer{
    justify-content: right;
    width: 30%;
    padding-block-end: 0rem;
}
/*Sections*/
/*Aside*/
/*Footer*/