.carousel-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px; /*Ajusta el margen inferior para dejar espacio al footer*/
  padding: 200px 0;
}
.carousel-image {
  height: 350px; /* Ajusta la altura deseada */
  object-fit: cover;
  opacity: 0.9;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Estilo para los iconos de los botones de control */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(185, 184, 182, 0.5);
  border-radius: 8px;
}
.carousel-image:hover {
  transform: scale(1.04); /* Aplica una escala del 105% en el efecto hover */
}

h2{
  color: var(--colorFondoNaranja);
  font-weight: bold;
  margin-bottom: 20px;
}
