<h3 class="text-center">BIBLIOTECA DE JUEGOS</h3>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/imgjuegos/carcasonePNG.PNG" class="d-block mx-auto carousel-image" alt="Carcassone">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/catanPNG.PNG" class="d-block mx-auto carousel-image" alt="Catán">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/dixit.PNG" class="d-block mx-auto carousel-image" alt="Dixit">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/s-l500.jpg" class="d-block mx-auto carousel-image" alt="HEDBANZ">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/agricola.jpg" class="d-block mx-auto carousel-image" alt="Agricola">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/duneImperium.jpg" class="d-block mx-auto carousel-image" alt="Dune Imperium">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/theisland.jpg" class="d-block mx-auto carousel-image" alt="The Island">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/dragones.jpg" class="d-block mx-auto carousel-image" alt="Dragones">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/villainous.jpg" class="d-block mx-auto carousel-image" alt="Villainous">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/ubongo.jpg" class="d-block mx-auto carousel-image" alt="Ubongo">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/7wonders.jpg" class="d-block mx-auto carousel-image" alt="7wonders">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/stratego.jpg" class="d-block mx-auto carousel-image" alt="Stratego">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/cluedo.jpg" class="d-block mx-auto carousel-image" alt="Cluedo">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/juegodetronos.jpg" class="d-block mx-auto carousel-image" alt="Juego de tronos">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/borgoña.png" class="d-block mx-auto carousel-image" alt="Los castillos de Borgoña">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/bang.jpg" class="d-block mx-auto carousel-image" alt="Bang!">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/kingoftokyo.jpg" class="d-block mx-auto carousel-image" alt="King of Tokyo">
    </div>
    <div class="carousel-item">
      <img src="/assets/imgjuegos/brass.jpg" class="d-block mx-auto carousel-image" alt="Brass Birgmingham">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
