<div class="login--component">

  <img src="../../assets/img/login.svg" alt="imagen página login">

  <form class="formulario--login" #form="ngForm" (ngSubmit)="login(form)">

        <input type="email" name="email" id="email" class="" placeholder="Email" [(ngModel)]="creds.email">
        <input type="password" name="pass" id="pass" class="" placeholder="Contraseña" [(ngModel)]="creds.pass">

        <button class="button-secondary">Login</button>
        <a href="/signup">No tengo cuenta - Registrarme</a>

  </form>

</div>
