<div class="signup--component">

  <img src="../../assets/img/signup.svg" alt="imagen página registro">

  <form class="formulario--signup" #form="ngForm">

      <input type="nombre" name="nombre" id="nombre" placeholder="Nombre">
      <input type="apellidos" name="apellidos" id="apeliidos" placeholder="Apellidos">
      <input type="email" name="email" id="email"  placeholder="Email">
      <input type="password" name="pass" id="pass" placeholder="Contraseña">

      <button class="button-secondary">Registrarme</button>

  </form>

</div>
