<div class = "contenedor--acercaDe">
    <div class = "faqs">
        <div class = "mensaje-faqs">
        <h1>MY BOARD PLAYS</h1>
        <h2>FAQs</h2>
        <br><p class = "p1">-¿Cómo puedo crear una partida en la aplicación?</p>
        <p class = "p2">-Registrándote en el apartado de Mis Juegos/Mis partidas en el botón Crear Partida.</p>

        <br><p class = "p1">-¿Es necesario registrarse para jugar en la aplicación?</p>
        <p class = "p2">-Sí, ya que la aplicación está pensada para guardar tus partidas.</p>

        <br><p class = "p1">-¿Cómo puedo buscar partidas creadas por otros usuarios?</p>
        <p class = "p2">-No se puede, cada creador de partida, guarda las partidas creadas.</p>

        <br><p class = "p1">-¿Cómo puedo ver las estadísticas y rankings de los jugadores?</p>
        <p class = "p2">-Registrándote, accediendo a Mis estadístiacas o en Mis Partidas en Consultar estadísticas.</p>

        <br><p class = "p1">-¿Puedo compartir las partidas que he creado con amigos?</p>
        <p class = "p2">-No, en principio la página no está pensada para invitar amigos.</p>

        <br><p class = "p1">-¿Puedo crear mis propio juegos de mesa en la aplicación?</p>
        <p class = "p2">-Sí, registándote y accediendo a Mis juegos y pulsando en el botón Crear Juego..</p>
        
        </div>

        <div class = contenedor__imagen>
            <img src= "assets/img/faqs.png" alt="imagen404">
        </div>
    </div>
    <div class = "sobreNos">
        <div class = contenedor__imagen>
            <img src= "assets/img/sobreNos.png" alt="imagen404">
        </div>

        <div class = "mensaje-sobreNos">
        <h1>SOBRE NOSOSTROS</h1>
        <h2>La empresa</h2>
        <p class = "p3">Bienvenidos a nuestro sitio web. Somos una pequeña empresa compuesta por
                        un equipo de tres personas, que estamos dedicados a la creación de una
                        aplicación web para juegos de mesa. Nuestra plataforma permite a los
                        usuarios crear y registrar partidas, visualizar rankings y crear nuevos juegos.
                    </p>
        <p class = "p3">Nos enorgullecemos de nuestro enfoque en la calidad y la innovación y
                        trabajamos incansablemenete para asegurarnos de que nuestros usuarios
                        tengan la mejor experiencia posible. Entendemos la importancia de unir a las
                        personas a través del entretenimiento, y es por eso que nuestra aplicación
                        está diseñada para brindar una experencia social y emocionante para todos 
                        los usuarios.
                    </p>
        <p class = "p3">En nuestra empresa, valoramos la creatividad y la colaboración, y creemos que
                        estas cualidade son fundamentales para ofrecer un producto de calidad.
                        Nos comprometemos a continuar mejorando nuestra plataforma para ofrecer 
                        a nuestros usuarios una experiencia cada vez más completa y satisfactoria. Si
                        tiene alguna pregunta o sugerencia, no dude en contactarnos. 
                        ¡Gracias por visitar nuestro sitio web!
                    </p>
        </div>  
    </div>

    <div class = "contactanos">
        <div class = "mensaje-faqs">
            <h1>CONTACTA CON NOSOTROS</h1>
            <h2>Formulario de contacto</h2>
            <form action=# method="POST">
                <fieldset class="form">
                    <input class="form__inputs" type="nombre" name="Nombre" placeholder="Nombre y apellidos*" required>
                    <input class="form__inputs" type="email" name="Email" placeholder="Email*" required>
                    <textarea class="form__inputs" name="comentario" placeholder="Comentario:"></textarea>
                    <p><input class="button button__action" type="submit" value="Enviar"></p>
                </fieldset>           
            </form>
        </div>

        <div class = contenedor__imagen>
            <img src= "assets/img/contactanos.png" alt="imagen404">
        </div>
    </div>

</div>