<div class = "contenedor__acercaDe">
    <div class = "contenedor__acercaDe--contenido">
        <div class = "mensaje-faqs">
        <h1 class="acerca">MY BOARD PLAYS</h1>
        <h2 class="acerca2">FAQs</h2>
        <br>
        <b><p class = "p1">-¿Cómo puedo crear una partida en la aplicación?</p></b>
        <p class = "p2">-Registrándote en el apartado de Mis Juegos/Mis partidas en el botón Crear Partida.</p>
        <br>

        <b><p class = "p1">-¿Es necesario registrarse para jugar en la aplicación?</p></b>
        <p class = "p2">-Sí, ya que la aplicación está pensada para guardar tus partidas.</p>
        <br>

        <b><p class = "p1">-¿Cómo puedo buscar partidas creadas por otros usuarios?</p></b>
        <p class = "p2">-No se puede, cada creador de partida, guarda las partidas creadas.</p>
        <br>

        <b><p class = "p1">-¿Cómo puedo ver las estadísticas y rankings de los jugadores?</p></b>
        <p class = "p2">-Registrándote, accediendo a Mis estadístiacas o en Mis Partidas en Consultar estadísticas.</p>
        <br>

        <b><p class = "p1">-¿Puedo compartir las partidas que he creado con amigos?</p></b>
        <p class = "p2">-No, en principio la página no está pensada para invitar amigos.</p>
        <br>

        <b><p class = "p1">-¿Puedo crear mis propio juegos de mesa en la aplicación?</p></b>
        <p class = "p2">-Sí, registándote y accediendo a Mis juegos y pulsando en el botón Crear Juego..</p>
        <br>

        </div>

        <div class = contenedor__imagen>
            <img src= "assets/img/faqs2.png" class="imagen" alt="faqs2">
        </div>
    </div>
    <div class = "contenedor__acercaDe--contenido">
        <div class = contenedor__imagen>
            <img src= "assets/img/sobreNos.png" class="imagen" alt="sobreNos">
        </div>

        <div class = "mensaje-sobreNos">
        <h1 class="acerca">SOBRE NOSOTROS</h1>
        <h2 class="acerca2">La empresa</h2>
        <br>
        <p class = "p3">Bienvenidos a nuestro sitio web. Somos una pequeña empresa compuesta por<br>
                        un equipo de tres personas, que estamos dedicados a la creación de una<br>
                        aplicación web para juegos de mesa. Nuestra plataforma permite a los<br>
                        usuarios crear y registrar partidas, visualizar rankings y crear nuevos juegos.<br>
                    </p>

        <p class = "p3">Nos enorgullecemos de nuestro enfoque en la calidad y la innovación y<br>
                        trabajamos incansablemenete para asegurarnos de que nuestros usuarios<br>
                        tengan la mejor experiencia posible. Entendemos la importancia de unir a las<br>
                        personas a través del entretenimiento, y es por eso que nuestra aplicación<br>
                        está diseñada para brindar una experencia social y emocionante para todos <br>
                        los usuarios.
                    </p>

        <p class = "p3">En nuestra empresa, valoramos la creatividad y la colaboración, y creemos que<br>
                        estas cualidades son fundamentales para ofrecer un producto de calidad.<br>
                        Nos comprometemos a continuar mejorando nuestra plataforma para ofrecer <br>
                        a nuestros usuarios una experiencia cada vez más completa y satisfactoria. Si<br>
                        tiene alguna pregunta o sugerencia, no dude en contactarnos. <br>
                        ¡Gracias por visitar nuestro sitio web!<br>
                    </p><br>
        </div>
    </div>

    <div class = "contenedor__acercaDe--contenido">
        <div class = "mensaje-contactanos">
            <h1 class="acerca">CONTACTA CON NOSOTROS</h1>
            <h2 class="acerca2">Formulario de contacto</h2>
            <br>
            <form (submit)="enviarCorreo()">
                <fieldset class="form">
                    <input class="form__input" type="email" name="correo" [(ngModel)]="correo" placeholder="Tu email*" required>
                    <input class="form__input" type="email" name="email" placeholder="contacta@myboardplays.com" disabled>
                    <label for="comentario" class="comentario">Comentario:</label>
                    <textarea class="form__input" id= "commentario" name="comentario "[(ngModel)]="comentario"></textarea>
                    <input class="button button__action" type="submit" value="Enviar">
                    <br>
                    <p class="label--select2" *ngIf="enviado" style="color: #40d205; font-weight: bold;"> <img src= "assets/img/tick.png" class="imagen2">RECARGA LA PÁGINA: {{ enviado }}</p>
                  </fieldset>
            </form>
        </div>

        <div class = contenedor__imagen>
            <img src= "assets/img/contactanos.png" class="imagen" alt="contactanos">
        </div>
    </div>

</div>
