<div class="col-md-3 mx-auto">
  <h2 class="text-center">Nuevo Juego</h2>

  <div class="">
    <p class="lh-lg fs-4">
      <span style="color: #fb8822; font-weight: bold"
        >¡Registra nuevos juegos a tu biblioteca!</span
      >
    </p>
    <p class="lh-lg fs-4">
      Si no lo tienes claro, puedes editarlo más tarde.
    </p>
  </div>
  <div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <form [formGroup]="formJuego" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label fs-5"> <strong> Nombre: </strong></label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
            name="nombre"
            required
            maxlength="50"
            placeholder="Introduzca nombre del juego"
          />
          <div
            class="text-danger mt-2"
            [hidden]="nombre.valid || nombre.pristine"
          >
            El nombre es obligatorio
          </div>
        </div>

        <div class="form-group mt-4">
          <label class="form-label fs-5"><strong> Descripción: </strong></label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            formControlName="descripcion"
            name="descripcion"
            required
            minlength="10"
            placeholder="Introduzca una breve descripción, ej: tipo temática"
          />
          <div
            class="text-danger mt-2"
            [hidden]="descripcion.valid || descripcion.pristine"
          >
            <span *ngIf="descripcion.errors?.['required']">
              La descripción es obligatoria
            </span>
            <span *ngIf="descripcion.errors?.['minlength']">
              Mínimo de caracteres 10
            </span>
          </div>
        </div>
        <div class="form-group mt-4">
          <label class="form-label fs-5"
            ><strong> Mínimo de participantes: </strong></label
          >
          <input
            type="number"
            class="form-control"
            id="minParticipantes"
            formControlName="minParticipantes"
            name="minParticipantes"
            required
            placeholder="Indique mínimo de jugadores"
          />
          <div
            class="text-danger mt-2"
            [hidden]="minParticipantes.valid || minParticipantes.pristine"
          >
            Número mínimo de participantes es obligatorio
          </div>
        </div>
        <div class="form-group mt-4">
          <label class="form-label fs-5"
            ><strong> Máximo de participantes: </strong></label
          >
          <input
            type="number"
            class="form-control"
            id="maxParticipantes"
            formControlName="maxParticipantes"
            name="maxParticipantes"
            required
            placeholder="Indique máximo de jugadores"
          />
          <div
            class="text-danger mt-2"
            [hidden]="maxParticipantes.valid || maxParticipantes.pristine"
          >
            Número máximo de participantes es obligatorio
          </div>
        </div>

        <div class="form-group mt-4">
          <label class="form-label fs-5"><strong> Dificultad: </strong></label>
          <input
            type="text"
            class="form-control"
            id="dificultad"
            formControlName="dificultad"
            name="dificultad"
            required
            placeholder="Indique dificultad: facil, media o alta"
          />
          <div
            class="text-danger mt-2"
            [hidden]="dificultad.valid || dificultad.pristine"
          >
            La dificultad es obligatoria
          </div>
        </div>
        <div class="mt-3">
          <button
            type="text"
            class="btn m btn-secondary btn-lg"
            routerLink="/lista-juegos"
          >
            Volver
          </button>
          <button
            type="submit"
            class="btn btn-guardarjuego btn-lg"
            [disabled]="formJuego.invalid"
          >
            Guardar
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
