<div class="col-md-3 mx-auto">
  <h3 class="text-center">Nuevo Juego</h3>
  <p>
    ¡Registra nuevos juegos! Aquí podrás añadir un nuevo juego a tu biblioteca.
    Simplemente rellena el formulario y sube la imagen que prefieras.
  </p>
  <p>
    ¡No te preocupes si aún no tienes todas las ideas claras! Siempre puedes
    volver más tarde editar la información.
  </p>
  <form (ngSubmit)="onSumit()" #juegoForm="ngForm">
    <div class="form-group">
      <label>Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        [(ngModel)]="juego.nombre"
        name="nombre"
        required
        maxlength="50"
        placeholder="Introduzca nombre del juego"
        #nombre="ngModel"
      />
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">

      </div>
    </div>
    <div class="form-group">
      <label>Descripción:</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        [(ngModel)]="juego.descripcion"
        name="descripcion"
        required
        maxlength="500"
        placeholder="Introduzca una breve descripción, ej: tipo temática"
      />
    </div>
    <div class="form-group">
      <label>Min-Participantes:</label>
      <input
        type="number"
        class="form-control"
        id="minParticipantes"
        [(ngModel)]="juego.minParticipantes"
        name="minParticipantes"
        required
        placeholder="Indique mínimo de jugadores"
      />
    </div>
    <div class="form-group">
      <label>Max-Participantes:</label>
      <input
        type="number"
        class="form-control"
        id="maxParticipantes"
        [(ngModel)]="juego.maxParticipantes"
        name="maxParticipantes"
        required
        placeholder="Indique máximo de jugadores"
      />
    </div>
    <div class="form-group">
      <label>Dificultad:</label>
      <input
        type="text"
        class="form-control"
        id="dificultad"
        [(ngModel)]="juego.dificultad"
        name="dificultad"
        required
        placeholder="Indique dificultad: facil, media o alta"
      />
    </div>
    <button class="btn btn-primary" [disabled]="!juegoForm.form.valid">Guardar Juego</button>
  </form>
</div>
