.contenedor__miCuenta--contenido{
    display:flex;
    width:100%;
    height:100%;
    padding: 96px;
    align-items: center;
}

img{
    padding: 48px;
}   

.hidden{
    color:var(--colorBaseGris);
}
ul {
	list-style-type:none;
}
a{
    text-decoration: none;
    
}

.menu{
    text-align: center;
}
.contenedor__imagen{
    width: 40%;
    height:100%;
    align-items: center;
    display : flex;
    flex-direction: column ;
    font-size: 2rem;

}

.form__input {
    width:100%;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.contenedor__imagen2{
    width: 60%;
    height:100%;
    display : flex;
    flex-direction: column ;
    padding:96px;
    border-color: var(--colorBaseGris);
    border-style: solid;
    margin-left: 30rem;
    margin-right: 30rem;

}

legend{
    font-size: 48px;
    font-weight: bold;
    align-content: left;

}
label{
    font-size: 20px;
    font-weight: bold;
}
.row{
    display:flex;
    font-size: 20px;
    padding: 2rem;

}

.button__action{
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1.6rem;
    background-color: var(--colorContrasteLow);
    color: var(--colorBaseBlanco);
    font-size: 3rem;
    text-align: center;
}

.contenido--form{
    width:100%;
    height: 100%;
    display:grid;
}

@media (max-width:1024px){

    .contenedor__miCuenta--contenido {
        flex-direction: column;
        padding:0;
        
    }
    .contenedor__imagen2{
        width: 100%;
        padding:48px;
        align-items: center;
    }
    .form__input{
        width: 60%;
    }
    .row{
        display:grid;
    }
    .button__action{
        width: 60%;
    }
  
  }
