.contenedor-mipartida{
    width:100%;
    height:100%;
    padding:96px;

}

.tabla{
    width: 100%;
    font-size: 2rem;
    border: 1px solid #000;
    display:grid;
}

.tabla2{
    width: 70%;
    font-size: 2rem;
    border: none;
    display:grid;
}

 th, td{
    width: 25%;
    text-align: left;
    
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    
 }

 thead{
    display:flex;
    width: 100%;
 }


 .th1{
    
    text-align: center;
    border: none;
    padding: 1rem;
    caption-side: bottom;
 }


 .tr1{
    display:flex;
    width: 100%;
    text-align: center;
    border: none;
    padding: 1rem;
    caption-side: bottom;
 }

 tr{
    width: 100%;
 }

 .celda{
    border:none;
    text-align: center;
    font-weight: bold;
 }

 .especial{
    display:flex;
    flex-direction: horizontal;
    width: 100%
 }
 .form-row{
    width:100%;
    display:flex;
 }


 .separacion-elemento{
    display: flex;
    width: 100%;
    align-items: center;
 }
 
 .separacion-elemento2{
    display: flex;
    width: 100%;
    margin-left:20px;
    align-items: center;
 }

 .separacion-elemento3{
   
   width: 100%;
   margin:20px;
   align-items: left;
   font-size: 3rem;
   font-weight: bold;
   color:black;
}
 
  .form-control {
    flex: 1 1 100%;
    margin-left: 10px;
    font-size: 2rem;
    
  }
  
  .form-text {
    flex: 0 0 auto;
    text-align: center;
    align-items: center;
  }

 
 .form-text3 {
    margin-left: 16px;
    margin-top:8px;
  }
  
.form-button{
    margin-left: 20px;
    height: auto;
    border: bold #000;
    border-radius: 10px;
    background-color: var(--colorBaseBlanco);
}

.form-button2{
    background-color: var(--colorBaseBlanco);
    border:none;
    margin-top: 5rem;

}

fieldset{
    border-color: var(--colorBaseNegro);
    border-width: bold;
    border-style: solid;
    padding: 5rem;
}

.mas-jugadores{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 2rem;
    align-items: baseline;
}

.button__primario {
    background-color: var(--colorContrasteLow);
    color: var(--colorBaseBlanco);
    text-decoration: none;
    font-size: 3rem;
    border-radius: 15px;
    padding:1rem;

  }

  @media(max-width:800px){
   .contenedor-mipartida{
      padding:16px;
   }
   .form-button2{
      margin-top:16px;
   }
   
   .form-row{
      padding:16px;
      width:100%;
      display:grid;
      justify-content: center;
      text-align: center;

   }

   .button__primario {
      font-size: 2rem;
      padding: 0;
   }
   .tabla{
      width: 100%;
      font-size: 2rem;
      border: 1px solid #000;
      flex-direction: column;
  }

   .mas-jugadores{
      width: 80%;
      font-size: 1.5rem;  
   }
  .form-text {
    font-size: 1rem;
    justify-content: center;
 }
   .form-text2 {
      display: flex;
    text-align: left;
    font-size: 1rem;
   }

  .form-control {
   flex: 1 1 auto;
   flex-direction: column;
   font-size: 2rem;
   
   }
   .separacion-elemento{
      flex-direction: column;
      width: 100%;
      margin:0;

   }
   .separacion-elemento2{
      flex-direction: column;
      width: 50%;
      margin-left:0px;
      align-items: left;
   }
   fieldset{
      padding:16px;
   }

   .form-control{
      display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    margin-left: 10px;
    font-size: 2rem;
   }
   
   .th1{
      font-size: 1rem;

   }
   .form-text{
    
      text-align: left;
      display: flex;
   }
  }