<div class="contenedor-mipartida">
    <h1>MI PARTIDA</h1>
    <br>
    <table class="tabla">
        <tr>
            <td class = "form-row">
            <label for="name"  class ="form-text" disabled>Nombre del Juego:</label>
            <input type="text" class="form-control" name="nombreJuego" placeholder="Nombre del juego seleccionado">
            </td>
        </tr>
        <tr>
            <td class = "form-row">
            <label for="creador" class ="form-text"  disabled>Creador de la partida: </label>
            <input type="text"  class="form-control" name="creadorPartida" placeholder="Nombre del usuario que iniciado la sesión">
            </td>
        </tr>
        <tr>
            <td class= "form-row">
            <div class="separacion-elemento">
            <label for="ubicacion" class ="form-text" disabled>Ubicación de la partida: </label>
            <input type="text" class="form-control" id="forma" name="ubicacionPartida" placeholder="Donde se disputa la partida">
            </div>
            <div class="separacion-elemento">
                <div class="separacion-elemento2">
                <label for="fecha"  class ="form-text" disabled>  Fecha: </label>
                <input type="date" class="form-control" id="form" name="fechaPartida">
                </div>
            </div>
            </td>
        </tr>
    </table>
    <br><br><br>
    <table class="tabla">
        <tr>
            <td class= "form-row">
            <div class="separacion-elemento">
            <label for="participantes" class ="form-text" disabled>Número de participantes: </label>
            <input type="text" class="form-control" id="participantes" name="numParticipantes" placeholder="Número de participantes">
            </div>
            <div class="separacion-elemento">
                <div class="sorteo">
                    <label for="orden" class ="form-text" disabled>Sorteo de orden </label>
                    <button type="button" class="form-button"> <img src="assets/img/orden.png" /></button> 
                </div>
            </div>       
            </td>
        </tr>
    </table>
    <br><br>

    <h3>Lista de jugadores:</h3>

    <fieldset>
        <div class="separacion-elemento">
            <div class="mas-jugadores">
                <button type="button" class="form-button2"> <img src="assets/img/mas.png" /></button> 
                <p class ="form-text">Añadir un jugador </p>
            </div>
        </div> 
    <table class="tabla2">
        <thead>
            <th class="th1"></th>
            <th class="th1">Nombre</th>
            <th class="th1">Email</th>
            <th class="th1">Ganador</th>
        </thead>
        <tbody>
            <tr class="tr1">
                <td class = "celda"><label for="jugador1" class="form-text" >Jugador 1</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre1"></td>
                <td class = "celda"><input type="text" class="form-control" name="email1" ></td>
                <td class = "celda"><input type="checkbox" name="ganador" value="1" ></td>
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador2" class="form-text" >Jugador 2</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre2"></td>
                <td class = "celda"><input type="text" class="form-control" name="email2" ></td>
                <td class = "celda"><input type="checkbox" name="ganador" value="2" ></td>
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 3</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre3"></td>
                <td class = "celda"><input type="text" class="form-control" name="email3" ></td>
                <td class = "celda"><input type="checkbox" name="ganador" value="3" ></td>
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 4</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre4"></td>
                <td class = "celda"><input type="text" class="form-control" name="email4" ></td>
                <td class = "celda"><input type="checkbox" name="ganador" value="4" ></td>
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 5</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre5"></td>
                <td class = "celda"><input type="text" class="form-control" name="email5" ></td>
                <td class = "celda"><input type="checkbox" name="ganador" value="5" ></td>
            </tr>
           <!--{{ generarTabla('participantes') }}--> 
        </tbody>
    </table>
    </fieldset>
    <br>
    <h3>Puntuaciones:</h3>
    <fieldset>
    <table class="tabla2">
        <thead>
            <th class="th1"></th>
            <th class="th1">Nombre</th>
            <th class="th1">Orden</th>
            <th class="th1">Puntuaciones</th>
        </thead>
        <tbody>
            <tr class="tr1">
                <td class = "celda"><label for="jugador1" class="form-text" >Jugador 1</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre1"></td>
                <td class = "celda"><input type="text" class="form-control" name="orden1" ></td>
                <td class = "celda"><input type="text" class="form-control" name="puntuacion1" ></td>
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador2" class="form-text" >Jugador 2</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre2"></td>
                <td class = "celda"><input type="text" class="form-control" name="orden2" ></td>
                <td class = "celda"><input type="text" class="form-control" name="puntuacion2" ></td>            
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 3</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre3"></td>
                <td class = "celda"><input type="text" class="form-control" name="orden3" ></td>
                <td class = "celda"><input type="text" class="form-control" name="puntuacion3" ></td>           
             </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 4</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre4"></td>
                <td class = "celda"><input type="text" class="form-control" name="orden4" ></td>
                <td class = "celda"><input type="text" class="form-control" name="puntuacion4" ></td>            
            </tr>
            <tr class="tr1">
                <td class = "celda"><label for="jugador" class="form-text" >Jugador 5</label></td>
                <td class = "celda"><input type="text" class="form-control" name="nombre5"></td>
                <td class = "celda"><input type="text" class="form-control" name="orden5" ></td>
                <td class = "celda"><input type="text" class="form-control" name="puntuacion5" ></td>            
            </tr>
           <!--{{ generarTabla('participantes') }}--> 
        </tbody>
    </table>
    </fieldset>
    <div class="mas-jugadores" >
    <p class ="form-button2"><input class="button button__primario button__sombras" type="submit" value="Guardar Partida"></p>
    </div>
</div>
