<div class="contenedor-mipartida">
    <h1>MI PARTIDA</h1>
    <br>
    <table class="tabla">
        <tr>
            <td class = "form-row">
            <label for="name"  class ="form-text" disabled>Nombre del Juego:</label>
            <input type="text" class="form-control" name="nombreJuego" [(ngModel)]="nombreJuego"  placeholder="Nombre del juego">
            </td>
        </tr>
        <tr>
            <td class = "form-row">
            <label for="creador" class ="form-text"  disabled>Creador de la partida: </label>
            <input type="text"  class="form-control" name="creadorPartida" [(ngModel)]="creadorPartida" placeholder="Nombre del creador de la partida">
            <div class="separacion-elemento">
                <div class="separacion-elemento2">
                <label for="fecha"  class ="form-text" disabled>  Duración: </label>
                <input type="text" class="form-control" name="duracion" [(ngModel)]="duracion"  placeholder="Duración de la partida">
            </div>
            </div>
            </td>
        </tr>
        <tr>
            <td class= "form-row">
            <div class="separacion-elemento">
            <label for="ubicacion" class ="form-text" disabled>Ubicación de la partida: </label>
            <input type="text" class="form-control" id="forma" name="ubicacionPartida" [(ngModel)]="ubicacionPartida" placeholder="Donde se disputa la partida">
            </div>
            <div class="separacion-elemento">
                <div class="separacion-elemento2">
                <label for="fecha"  class ="form-text" disabled>  Fecha: </label>
                <input type="date" class="form-control" name="fechaEscogida" [(ngModel)]="fechaEscogida">
                </div>
            </div>
            </td>
        </tr>
    </table>
    <br><br><br>
    <table class="tabla">
        <tr>
            <td class= "form-row">
            <div class="separacion-elemento">
            <label for="participantes" class ="form-text" disabled>Número de participantes: </label>
            <input type="text" class="form-control" id="participantes" name="numParticipantes" placeholder="Número de participantes">
            </div>
            <!--<div class="separacion-elemento">
                <div class="sorteo">
                    <label for="orden" class ="form-text" disabled>Sorteo de orden </label>
                    <button type="button" class="form-button"> <img src="assets/img/orden.png" /></button> 
                </div>
            </div>  -->     
            </td>
        </tr>
    </table>
    <br><br>

    <h3>Lista de jugadores:</h3>

    <fieldset>
        <div class="separacion-elemento">
            <div class="mas-jugadores">
                <button type="button" class="form-button2" (click)="agregarJugador()"> <img src="assets/img/mas.png" /></button> 
                <p class ="form-text">Añadir un jugador </p>
            </div>
        </div> 
    <table class="tabla2">
        <thead>
            <th class="th1"></th>
            <th class="th1">Nombre</th>
            <th class="th1">Email</th>
            <th class="th1">Ganador</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let jugador of jugadores; let i = index">
          <tr class="tr1">
            <td class="celda">
              <label for="jugador{{ i }}" class="form-text">Jugador {{ i + 1 }}</label>
            </td>
            <td class="celda">
              <input type="text" class="form-control" [name]="'nombre' + i" [(ngModel)]="jugador.nombre" />
            </td>
            <td class="celda">
              <input type="text" class="form-control" [name]="'email' + i" [(ngModel)]="jugador.email" />
            </td>
            <td class="celda">
              <input type="checkbox" name="ganador" value="1" [(ngModel)]="jugador.ganador" />
            </td>
          </tr>
        </ng-container>
        </tbody>
    </table>
    </fieldset>
    <br>
    <h3>Puntuaciones:</h3>
    <fieldset>
    <table class="tabla2">
        <thead>
            <th class="th1"></th>
            <th class="th1">Nombre</th>
            <th class="th1">Orden</th>
            <th class="th1">Puntuaciones</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let jugador of jugadores; let i = index">
                <tr class="tr1">
                  <td class="celda">
                    <label for="jugador{{ i }}" class="form-text">Jugador {{ i + 1 }}</label>
                  </td>
                  <td class="celda">
                    <input type="text" class="form-control" [name]="'nombre' + i" [(ngModel)]="jugador.nombre" />
                  </td>
                  <td class="celda">
                    <input type="text" class="form-control" [name]="'orden' + i" [(ngModel)]="jugador.email" />
                  </td>
                  <td class="celda">
                    <input type="text" class="form-control" [name]="'puntuaciones' + i" [(ngModel)]="jugador.puntuaciones" />
                  </td>
                </tr>
              </ng-container>
           <!--{{ generarTabla('participantes') }}--> 
        </tbody>
    </table>
    </fieldset>
    <div class="mas-jugadores" >
    <p class ="form-button2"><input class="button button__primario button__sombras" type="submit" value="Guardar Partida"></p>
    </div>
</div>
