.titulo{
    font-size: 5rem;

}
.contenedor-404{

  display: flex;
  align-items: center;
  padding: 96px;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

}

.contenedor-mensaje404{
    width: 70%;
    height: 100%;
    text-align: right;
}

.mensaje-404{

    font-size: 3rem;
    width: 80%;
    height: 100%;

}

.button__primario {
    background-color: var(--colorContrasteLow);
    color: var(--colorBaseBlanco);
    text-decoration: none;
    font-size: 3rem;
    border-radius: 15px;
    padding:1rem;


  }
  .contenedor-imagen-robot{
    width:50%;
    height: 100%;

  }

  @media (max-width:1024px){

    .contenedor-404 {
        flex-direction: column;
        padding:0;

    }
  }

  .imagen-robot {
    animation: moverRobot 3s infinite alternate;
  }

  @keyframes moverRobot {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(18px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .titulo {
    position: relative;
    animation: caerLetras 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes caerLetras {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
