.contenedor-404{
    display:flex;
    flex-direction: row;
    padding: 4rem;
    justify-content: space-evenly;
    align-items: flex-end;
}

.contenedor-imagen-robot{
  width:100%;
  height:100%;
}
.contenedor-mensaje404{
    margin-top: 2rem;
    
}

.mensaje-404{
    font-size: 8rem;
    margin-bottom: 1rem;
}