<div class="contenedor-404">
     <div class = "contenedor-imagen-robot">
        <img src= "assets/img/robot.png" alt="imagen404">
    </div>
    <div class="contenedor-mensaje404">
        <div class ="mensaje-404">
            <h3 class="titulo">Ooops! Algo ha salido mal</h3>

            <p class="tamaño-letra">En estos momentos nuestra página web no está</p>
            <p class="tamaño-letra">disponible o el recurso que estás intentando ver no</p>
            <p class="tamaño-letra">lo tenemos listo.Por favor, vuelve a intentarlo</p>
            <p class="tamaño-letra">más tarde. Lo sentimos mucho! :(</p>
        
            <a class="button button__primario button__sombras" href="index.html">Ir a la home</a>
        </div>
    </div>
</div>
 