.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

nav {
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--colorBaseNegro);
  font-weight: bold;
}

a.active{
  color: #7887e6 !important;
}


.menu li {
  font-size: 16px;
  padding: 16px;
  margin: 0 12px;
  white-space: nowrap;
}

.button-primary a {
  color: var(--colorBaseBlanco);
  font-weight: 600;
}

.button-primary a.active {
  color: #fff !important;
}

.button-secondary a.active {
  color: #fff !important;
}

.button-secondary a {
  color: var(--colorBaseBlanco);
  font-weight: 600;
}

.imagen--logo {
  height: 55px;
}

.button-menu{
  display:none;
}

@media all and (min-width: 990px) {

  .imagen--logo {
    height: 125px;
  }

  nav{
    display: flex!important;
    justify-content: space-between!important;
  }

  .navbar-collapse{
    flex-grow: unset;
  }

  .button-menu{
    display:unset;
  }

}
