<header>
  <nav>
    <ul class="menu">
      <li class="logo"><a href="index.html"><img class="imagen--logo" src="../../assets/img/Logo.png" alt="logo"></a></li>
      <li class="item" *ngIf="isLogged"><a href="/lista-juegos">Mis Juegos</a></li>
      <li class="item" *ngIf="isLogged"><a href="">Mis Partidas</a></li>
      <li class="item" *ngIf="isLogged"><a href="">Mis Estadísticas</a></li>
      <li class="item" *ngIf="isLogged"><a href="/herramientas">Tools</a></li>
      <li class="item button-secondary" *ngIf="isLogged"><a href="">Iniciar Partida</a></li>
      <li class="item button-secondary" *ngIf="!isLogged"><a href="/login">Iniciar sesión</a></li>
      <li class="item button-primary" *ngIf="!isLogged"><a href="/signup">Regístrate</a></li>
      <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </nav>
</header>
