<div class="contenedor-mipartida">
  <h1>EDITAR MI PARTIDA</h1>
  <br>
  <form (submit)="onSubmit()">
  <table class="tabla">
      <tr>
          <td class = "form-row">
          <label for="name" class ="form-text">Selecciona un Juego:</label>
          <select name="nombreJuego" class= "form-control" [(ngModel)]="selectedJuego" required (change)="obtenerJuego()">
              <option value="{{usuario.juego?.id}}" selected>Selecciona un juego</option>
              <option *ngFor="let juego of usuario.juegos" [ngValue]="juego">{{ juego.nombre }} ></option>
          </select>
          </td>
      </tr>
      <tr>
          <td class = "form-row">
          <label for="creador" class ="form-text">Creador de la partida: </label>
          <input type="text"  class="form-control"name="creadorPartida" [(ngModel)]="creadorPartida" placeholder="Nombre del creador de la partida" disabled>
          <div class="separacion-elemento">
              <div class="separacion-elemento2">
              <label for="fecha"  class ="form-text">  Duración: </label>
              <input type="text" class="form-control" name="duracion" [(ngModel)]="duracion"  placeholder="Duración de la partida">
          </div>
          </div>
          </td>
      </tr>
      <tr>
          <td class= "form-row">
          <div class="separacion-elemento">
          <label for="ubicacion" class ="form-text">Ubicación de la partida: </label>
          <input type="text" class="form-control" id="forma" name="ubicacionPartida" [(ngModel)]="ubicacionPartida" placeholder="Donde se disputa la partida">
          </div>
          <div class="separacion-elemento">
              <div class="separacion-elemento2">
              <label for="fecha"  class ="form-text">  Fecha: </label>
              <input type="date" class="form-control" name="fechaEscogida" [(ngModel)]="fechaEscogida">
              </div>
          </div>
          </td>
      </tr>
  </table>
  <br><br><br>
  <h3>Ganador:</h3>

  <fieldset>
      <div class="separacion-elemento">
      </div>

      <table class="tabla2">
        <thead>
            <th class="th1"></th>
            <!--<th class="th1">Nombre</th>-->
            <th class="th1">Email</th>
        </thead>
        <tbody>
        <ng-container >
          <tr>
            <td class="celda">
              <label for="usuario" class="form-text">Jugador</label>
            </td>
            <td class="celda">
                <select [name]="'email'" class= "form-control" [(ngModel)]="partida.idGanador.email" required (change)="consultarUsuario()">
                    <option selected>Selecciona el email de un usuario</option>
                    <option *ngFor="let ganador of usuarios" name="email" value="{{ganador.email}}"
                    >{{ ganador.email }} ></option>
                </select>
            </td>
           <td class="celda">
        </td>
          </tr>
        </ng-container>
        </tbody>
    </table>
  </fieldset>
  <br>
  <div class="mas-jugadores" >
  <p class ="form-button2"><input class="button button__primario button__sombras" type="submit" value="Guardar Partida"></p>
  </div>
</form>
</div>
