/*Footer*/
.footer {
  background-color: var(--colorFondoNaranjaMid);
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr;
  padding: 40px;
  margin-top: 40px;
  gap:30px;
}

@media (min-width : 768px) {
  .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 40px 96px;
  }

  h3 {
  font-size: 32px;
  }
}

h3 {
  font-size: 24px;
  padding: 38px 0px;
}

.footer__element {
  text-align: left;
}

.footer__element a {
  text-decoration: none;
}

.copyright {
  background-color: var(--colorFondoNaranjaMid);
  display: flex;
  justify-content: center;
}

.copyright p{
  margin: 0;
  padding: 1.5rem 0;
}

.rrss{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.rrss img{
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 1rem 0;
  transition: transform 0.3s ease;
}
.rrss img:hover{
  transform: scale(1.1);
}

.footer__element--title {
  font-size: 16px;
}

a {
  color: var(--colorBaseNegro);
}

p {
  font-size: 16px;
}

.bloque--logo__footer {
  display: flex;
  align-items: center;
}

.bloque--logo__footer img {
  height: 76px;
}

.logo--footer{
  height: 100px;
}
