<footer>
  <div class="footer">
    <div class="footer__element">
      <h3>Información</h3>
      <p class="footer__element--title">Contacta con nosotros:</p>
      <p class="footer__element--description">24h atención al cliente</p>
      <p class="footer__element--title">Ubicación:</p>
      <p class="footer__element--description">Av/ Filipinas, 21 - 1ºD</p>
      <p class="footer__element--description">28009 Madrid, España</p>
    </div>
    <div class="footer__element">
      <h3>Recursos</h3>
      <p class="footer__element--description"><a href="/juegos">Juegos</a></p>
      <p class="footer__element--description"><a href="/error-general">Ayuda</a></p>
      <p class="footer__element--description"><a href="/herramientas">Herramientas</a></p>
      <p class="footer__element--description"><a href="/acerca-de">Acerca de</a></p>
      <p class="footer__element--description">Síguenos:</p>
      <div class="rrss">
        <img src="assets/img/google.png" />
        <img src="assets/img/instagram.png" />
        <img src="assets/img/twitter.png" />
        <img src="assets/img/facebook.png" />
      </div>
    </div>
    <div class="footer__element">
      <div class="bloque--logo__footer">
        <h3>My Board Plays</h3>
        <img class="logo--footer" src="/assets/img/Logo.png" alt="logo" />
      </div>
      <p class="footer__element--description">
        Somos tu página de juegos de mesa online donde podrás acceder a un
        seguimiento de tus juegos y partidas, y poder visualizar sus
        estadísticas.
      </p>
      <p class="footer__element--description">
        <i class="fa-solid fa-envelope fa-2xl" style="color: #000000"></i>
        <a href="mailto:contacta@myboardplays.com"> contacta@myboardplays.com</a>
      </p>
      <p class="footer__element--description">
        <i class="fa-solid fa-phone-volume fa-2xl" style="color: #000000"></i>
        +34 633 48 52 63
      </p>
    </div>
  </div>
  <div class="copyright">
    <p>Todos los derechos reservados ©Copyright</p>
  </div>
</footer>
