<div class = "contenedor__herramientas">
    <div class = "contenedor__herramientas--contenido">
        <div class = "mensaje-dados">
        <h1 class="herramientas1">DADOS VIRTUALES</h1>
        
        <br>
        <p class ="label--select">ELIGE LA CONFIGURACIÓN DE LOS DADOS.</p>
        <form action=# method="POST">
            <fieldset>
                <p class="label--select">-NÚMERO DE DADOS</p>
                <select class="form__input" name="numDados"[(ngModel)]="numeroDados" id="numDados">
                    <option value="" disabled selected >Número de dados</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <p class="label--select">-NÚMERO DE CARAS</p>
                <select class="form__input" name="numCaras"[(ngModel)]="numeroCaras" id="numCaras">
                    <option value=""disabled selected>Número de caras</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <button class="button__action"(click)="ejecutarLanzamiento()">LANZA LOS DADOS</button>
                <p class="label--select" *ngIf="resultados">TOTAL DE LA SUMA DE LOS DADOS: {{ sumaTotal }}</p>
                <p class="label--select" *ngIf="resultados">RESULTADO DE CADA DADO: {{ resultados.join(', ') }}</p>
                
            </fieldset>
        </form>

        </div>

        <div class = contenedor__imagen>
            <img src= "../../assets/img/dados.jpg" class=imagen-dados alt="dados altura">
        </div>
    </div>
    <div class = "contenedor__herramientas--contenido">
        <div class = contenedor__imagen>
            <img src= "../../assets/img/ruleta.jpg" alt="ruleta">
        </div>

        <div class = "mensaje-ruleta">
        <h1 class="herramientas1">RULETA PARA ELEGIR GM</h1>
        <br>
        <p class ="label--select">ELIGE LA CONFIGURACIÓN DE LA RULETA.</p>
        <form action=# method="POST">
            <fieldset>
                <p class="label--select">-NÚMERO DE PARTICIPANTES:</p>
                <select class="form__input" name="numDados"[(ngModel)]="numParticipantes">
                    <option value=""disabled selected>Número de participantes</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <button class="button__action"(click)="ejecutarGiro()">GIRA LA RULETA</button>
                <p class="label--select">LA RULETA HA ELEGIDO AL PARTICIPANTE Nº: {{ numPremiado }}</p>
            </fieldset>
        </form>
        </div>  
    </div>

    <div class = "contenedor__herramientas--contenido">
        <div class = "mensaje-timer">
            <h1 class="herramientas1">TIMER</h1>
            <br>
            <p class =label--select>ELIGE EL TIEMPO PARA LA CUENTA ATRÁS.</p>
            <form action=# method="POST">
                <fieldset>
                    <p class="label--select" >-HORAS:</p>
                    <input type="number" [(ngModel)]="horas" class = "form__input2"  min="0" max=24 placeholder ="Horas">
                    <p class="label--select" >-MINUTOS:</p>
                    <input type="number"[(ngModel)]="minutos" class = "form__input2"  min="0" max=60 placeholder ="Minutos">
                    <p class="label--select" >-SEGUNDOS:</p>
                    <input type="number"[(ngModel)]="segundos" class = "form__input2"  min="0" max=60 placeholder ="Segundos">
                    <button class="button__action"(click)="iniciarCronometro()">EMPEZAR</button>
                    <p class="label--select">TIEMPO RESTANTE: {{ tiempo }}</p>
                </fieldset>           
            </form>
        </div>

        <div class = contenedor__imagen>
            <img src= "../../assets/img/timer.jpg" alt="timer">
        </div>
    </div>

</div>