<h3>Detalles del Juego</h3>
<div>
  <div>
    <label><b>ID : </b>{{ juego.id }}</label>
  </div>
  <div>
    <label><b>Nombre : </b>{{ juego.nombre }}</label>
  </div>
  <div>
    <label><b>Descripción : </b>{{ juego.descripcion }}</label>
  </div>
  <div>
    <label><b>Min-Participantes : </b>{{ juego.minParticipantes }}</label>
  </div>
  <div>
    <label><b>Max-Participantes : </b>{{ juego.maxParticipantes }}</label>
  </div>
  <div>
    <label><b>Max-Participantes : </b>{{ juego.dificultad }}</label>
  </div>
</div>
