thead{
  background-color: var(--colorFondoNaranjaMid);
}

.filter{
  position: relative;
}

.filter input {
  padding-left: 30px; /* Ajusta el espacio para que el icono no se solape con el texto */
}

.filter i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.btn-juego{
  background-color: var(--colorContraste);
  color:var(--colorBaseBlanco);
  font-weight: bold;
  font-size:small;
  width: auto;
  height:48px;
  border-radius: 16px;
}
.my-pagination ::ng-deep .ngx-pagination .current{
  background-color: #4741b5;
  width: 32px;
}

.my-pagination ::ng-deep .ngx-pagination .paginate{
  background-color: #4741b5;
  width: 40px;
}
.descripcion-cortada {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-table thead tr th {
  background-color: #f9b375 !important;
}
