<main>
  <section class="home--section__1">
    <div class="section--bloque__1">
      <h1>tus <b class="h1--style">juegos</b> </h1>
      <h1>y <b class="h1--style">partidas</b> online</h1>
      <h3>¡Crea, guarda, modifica tus partidas! <br/>Visualiza tus rankings y estadísticas.</h3>
      <a class="button-secondary button .mt-2" href="/iniciar-partida">¡Empieza a jugar!</a>
    </div>
    <div>
      <img src="../../assets/img/ilustracionHome.svg" alt="ilustracion de la pagina de inicio">
    </div>
  </section>

  <section class="home--section__2">
    <div class="section--2__bloque">
      <img class="logo--bloque" src="../../assets/img/punta-de-flecha-del-boton-de-reproduccion.svg" alt="play">
      <h3>Seguimiento detallado del juego</h3>
      <p>Realiza un seguimiento de todas tus jugadas, juegos, duración de las partidas y su nivel.</p>
    </div>
    <div class="section--2__bloque">
      <img class="logo--bloque" src="../../assets/img/tendencia 1.svg" alt="grafico">
      <h3>Estadísticas de cada partida</h3>
      <p>Vea estadísticas detalladas de los ganadores. Visualice los rankings victoria y sus clasificaciones.</p>
    </div>
    <div class="section--2__bloque">
      <img class="logo--bloque" src="../../assets/img/Magnifying glass.svg" alt="lupa">
      <h3>Buscador y recomendador de juegos</h3>
      <p>Búsquedas por descripción, número mínimo o máximo de participantes, duración de la partida y nivel.</p>
    </div>
  </section>

  <section class="home--section__3">
    <div>
      <img class= "manual"src="../../assets/img/manual.svg" alt="manual">
    </div>
    <div>
      <h3>Estadísticas de juegos de mesa</h3>
      <p>¿Cómo utilizar la aplicación de forma eficiente?</p>
      <ol>
        <li>Crea tu juego, agrega a tus amigos y ponte a jugar.</li>
        <li>Agrega tus puntuaciones, finaliza la partida y estudia las estadísticas.</li>
        <li>Compara los resultados obtenidos y visualiza los resultados de los rankings y clasificaciones.</li>
        <li>Guarda tu lista de jugadores y juegos favoritos para próximos juegos.</li>
      </ol>
    </div>
  </section>
</main>
