main {
  padding: 0 96px;
}

/*Bloque 1*/
.home--section__1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.section--bloque__1 {
  text-align: right;
}

.h1--style {
  color: var(--colorFondoNaranja);
}

button {
  color: var(--colorBaseBlanco);
  padding: 16px;
  font-size: 16px;
  margin-top: 30px;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width:1024px){

  main {
    padding: 0 28px;
  }

  .home--section__1{
    flex-direction: column;
  }

  .home--section__1 img {
    width: 100%;
  }
}

/*Bloque 2*/
.home--section__2 {
  display: flex;
  justify-content: center;
  padding: 0 300px;
  margin-bottom: 96px;
}

.section--2__bloque {
  text-align: center;
  margin: 30px;
  transition: transform 1s
}

.section--2__bloque:hover {
  transform: scale(1.1);
}

.section--2__bloque h3 {
  color: var(--colorFondoNaranja);
  margin: 15px;
}

.logo--bloque{
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
}

p {
  font-size: 16px;
}

@media (max-width:1024px){

  main {
    padding: 0 28px;
  }

  .home--section__2{
    flex-direction: column;
    padding: 0;
  }

}

/*Bloque 3*/
.home--section__3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 0;
}

.home--section__3 h3 {
  color: var(--colorFondoNaranja);
}

.home--section__3 p {
  color: var(--colorContrasteMid);
  font-weight: bold;
}

li {
  font-size: 16px;
}

.manual{
  transition: 0.4s;
}

.manual:hover{
  transition: 0.4s;
  transform: rotate(3deg) scale(1.1);
}

@media (max-width:1024px){
  .home--section__3 img {
    margin-bottom:100px;
    width: 100%;
  }

  .home--section__3{
    flex-direction: column;
  }

  .home--section__3 p,h3 {
    text-align: center;
  }
}
