<div class="container-sm col-md-3 mx-auto">
  <h3 class="text-center">Detalles del Juego</h3>
  <div class="card shadow rounded">
    <div class="card-body">
      <div>
        <div>
          <label><b>ID : </b>{{ juego.id }}</label>
        </div>
        <hr>
        <div>
          <label><b>Nombre : </b>{{ juego.nombre }}</label>
        </div>
        <hr>
        <div>
          <label><b>Descripción : </b>{{ juego.descripcion }}</label>
        </div>
        <hr>
        <div>
          <label><b>Min-Participantes : </b>{{ juego.minParticipantes }}</label>
        </div>
        <hr>
        <div>
          <label><b>Max-Participantes : </b>{{ juego.maxParticipantes }}</label>
        </div>
        <hr>
        <div>
          <label><b>Max-Participantes : </b>{{ juego.dificultad }}</label>
        </div>
        <hr>
      </div>
      <button
        type="text"
        class="btn btn-secondary me-3"
        routerLink="/lista-juegos"
        style="font-weight: bold"
      >
        Volver
      </button>
    </div>
  </div>
</div>
