<div class="container table-responsive">
  <h3 class="text-lg-start mb-5">Lista de todas las partidas</h3>
  <div class="row">
    <div class="col">
      <div class="form-group filter">
        <input type="text" class="form-control mb-3" name="filterJuegos" placeholder="Buscar por....">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <select class="form-select">
        <option selected> Ordenar por...</option>
        <option value="nombre">Creador</option>
        <option value="dificultad">Ubicación</option>
      </select>
    </div>
    <div class="col mt-2">
      <select class="form-select">
        <option> ASC / DESC </option>
        <option value="asc" selected>ASC</option>
        <option value="desc">DESC</option>
      </select>
    </div>
</div>
  <table class="table table-hover table-striped align-middle shadow p-3 mt-4 bg-body rounded">
    <thead class="table fs-5"> <!--Cabecera de la tabla-->
      <tr class="justify-content-center">
        <th class="text-center">ID</th>
        <th class="text-center">CREADOR</th>
        <th class="text-center">UBICACIÓN</th>
        <th class="text-center">FECHA</th>
        <th class="text-center">ID JUEGO</th>
        <th class="text-center">DURACIÓN</th>
        <th class="text-center">ACCIONES</th>
      </tr>
    </thead>
    <tbody class="justify-content-center"> <!--cuerpo de la tabla-->
      <tr> <!--recorremos la lista de juegos y después llamamos a esos datos-->
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">
          <button (click)="verDetallesPartida" class="btn btn-success ">DETALLES</button>
          <button (click)="editarPartida" class="btn btn-warning text-center ms-3">EDITAR</button>
          <button (click)="eliminarPartida" class="btn btn-danger text-center ms-3">ELIMINAR</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
