<div class="container table-responsive">
  <h3 class="text-lg-start mb-5">Lista de todas las partidas</h3>
  <button class="btn btn-juego btn mb-3" [routerLink]="['/iniciar-partida']" routerLinkActive="router-link-active">
    <i class="fa-sharp fa-regular fa-circle-down" style="color: #fcfcfd"></i>
    NUEVA PARTIDA
  </button>
  <div class="d-flex justify-content-end mb-2">
    <button class="btn btn btn-outline-secondary mb-1" (click)="exportExcel()">
      EXPORTAR EXCEL
    </button>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="form-group filter">
        <input
          type="text"
          class="form-control mb-3"
          name="filterPartidas"
          placeholder="Buscar por (creador,ubicación, fecha, juego o duración)"
          [(ngModel)]="filterPartidas"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      <select class="form-select" [(ngModel)]="parameter1">
        <option>Ordenar por...</option>
        <option value="id">Id</option>
        <option value="creador">Creador</option>
        <option value="ubicacion">Ubicación</option>
        <option value="fecha">Fecha</option>
        <option value="juego">Juego</option>
        <option value="duracion">Duración</option>
      </select>
    </div>
    <div class="col mt-2">
      <select class="form-select" [(ngModel)]="parameter2">
        <option value="asc" selected>ASC</option>
        <option value="desc">DESC</option>
      </select>
    </div>
  </div>
  <table
    class="table table-hover table-striped align-middle shadow p-3 mt-4 bg-body rounded"
  >
    <thead class="table fs-5">
      <!--Cabecera de la tabla-->
      <tr class="justify-content-center">
        <th class="text-center">ID</th>
        <th class="text-center">CREADOR</th>
        <th class="text-center">UBICACIÓN</th>
        <th class="text-center">FECHA</th>
        <th class="text-center">JUEGO</th>
        <th class="text-center">DURACIÓN</th>
        <th class="text-center">GANADOR</th>
        <th class="text-center">ACCIONES</th>
      </tr>
    </thead>
    <tbody class="justify-content-center">
      <!--cuerpo de la tabla-->
      <tr
        *ngFor="
          let partida of partidas
            | filterPartidas : filterPartidas
            | orderByPartidas: parameter1 : parameter2
            | paginate : { itemsPerPage: 10, currentPage: pageActual }
        "
      >
        <td class="text-center">{{partida.id}}</td>
        <td class="text-center">{{partida.creador?.nombre}}</td>
        <td class="text-center">{{partida.ubicacion}}</td>
        <td class="text-center">{{partida.fecha}}</td>
        <td class="text-center">{{partida.juego?.nombre}}</td>
        <td class="text-center">{{partida.duracion}}</td>
        <td class="text-center">{{partida.id}}</td>
        <td class="text-center">
          <button
            (click)="verDetallesPartida(partida.id)"
            class="btn btn-sm btn-success"
            [routerLink]="['/detalles-partida/',partida.id]"
          >
            <i class="fa-solid fa-info fa-xs" style="color: #ffffff"></i>
            DETALLES
          </button>
          <button
            (click)="editarPartida(partida.id)"
            class="btn btn-sm btn-warning text-center ms-3"
          >
            <i
              class="fa-solid fa-pen-to-square fa-xs"
              style="color: #ffffff"
            ></i>
            EDITAR
          </button>
          <button
            (click)="eliminarPartida(partida.id)"
            class="btn btn-sm btn-danger text-center ms-3"
          >
            <i class="fa-solid fa-trash-can fa-xs" style="color: #ffffff"></i>
            ELIMINAR
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-5 py-5 text-center">
    <pagination-controls
      class="my-pagination"
      (pageChange)="pageActual = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>
